*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 0.1px;
   
}
#nav{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
     display: flex;
    align-items: center;
    margin-top: 2%;
    justify-content: space-between;
     border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#nav h1{
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -3.3px;
    font-weight: 1800;

    /* background-color: yellow; */
}
#nav h2{
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
    border-right: 2px solid black;
    font-size: 22px;
    font-weight: 400;
}
#nav h2:nth-child(4){
    width: 27%;
    /* background-color: red; */
}

#nav h2:last-child{
    width: 10%;
    /* background-color: red; */
}
