*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 0.1px;
   
}
#nav{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
     display: flex;
    align-items: center;
    margin-top: 2%;
    justify-content: space-between;
     border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#nav h1{
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -3.3px;
    font-weight: 1800;

    /* background-color: yellow; */
}
#nav h2{
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
    border-right: 2px solid black;
    font-size: 22px;
    font-weight: 400;
}
#nav h2:nth-child(4){
    width: 27%;
    /* background-color: red; */
}

#nav h2:last-child{
    width: 10%;
    /* background-color: red; */
}
#center{
    width: 100%;
    height: 90vh;
    /* background-color: red; */
    position: relative;
    padding: 8vh 6vh;
}
#content{
    width: 100%;
    height: 100%;
    background-color: blue;
    position: relative;

}
#content video{
    height: 100%;
    width :100%;
    object-fit: cover;
}
#overlay{
    height: 48%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: blue; */
    padding: 3vh;
    color: white;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family: monument;
    font-size: 4vw;
}
#over1 h2{
    font-size: 1vw;
    padding: 2.1vw 2.2vw;
    /* background-color: red; */
    border-radius: 50%;
    border: 1px solid #Fff;
    border-right: 2px solid rgb(128, 124, 124);
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}
#over2 h4{
    font-weight: 1.6vw;
    font-weight: 500;

}
#over2 img{
height: 3vw;
}