*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 0.1px;
   
}
#nav{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
     display: flex;
    align-items: center;
    margin-top: 2%;
    justify-content: space-between;
     border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#nav h1{
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -3.3px;
    font-weight: 1800;

    /* background-color: yellow; */
}
#nav h2{
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
    border-right: 2px solid black;
    font-size: 22px;
    font-weight: 400;
}
#nav h2:nth-child(4){
    width: 27%;
    /* background-color: red; */
}

#nav h2:last-child{
    width: 10%;
    /* background-color: red; */
}
#center{
    width: 100%;
    height: 90vh;
    /* background-color: red; */
    position: relative;
    padding: 8vh 6vh;
}
#content{
    width: 100%;
    height: 100%;
    background-color: blue;
    position: relative;

}
#content video{
    height: 100%;
    width :100%;
    object-fit: cover;
}
#overlay{
    height: 48%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: blue; */
    padding: 3vh;
    color: white;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family: monument;
    font-size: 4vw;
}
#over1 h2{
    font-size: 1vw;
    padding: 2.1vw 2.2vw;
    /* background-color: red; */
    border-radius: 50%;
    border: 1px solid #Fff;
    border-right: 2px solid rgb(128, 124, 124);
}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 1.5vw 0;
}
#over2 h4{
    font-weight: 1.6vw;
    font-weight: 500;

}
#over2 img{
height: 3vw;
}
#scroll{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    /* padding: 1vh; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    width: 110%;
    height: 100%;
    /* background-color: black; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    /* display: none; */
    height: 90%;
    border-radius: 50%;
    width: 15%;
    object-fit: cover;
    object-position: 30% 30%;
    margin: 1vw;
}
@keyframes anime {
    from{
        transform: translateX(0);

    }
    to{
       transform: translateX(-100%);
    }
}
#alphabet{
    height: 11vh;
    width: 100%;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}
#alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid black;
   
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 4px;
    padding: 0.5vw 0.7vw;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all ease-in 0.2s;
   
}
    #alphabet h6:hover{
    border: 1px solid black;
}
#page2{
    height: 100%;
    width: 100%;
    padding: 2vw 5vw;
    display: flex;
    justify-content: space-between;
}
#page2-part1{
    width: 50%;
    height: 100%;
    /* background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center; */
}   
#page2-part1 img {

    width: 100%;
    height: 90%; /* Adjust this height as needed to fit the image */
    object-fit: cover; /* Ensures the image covers the area without distortion */

}
#page2-part2{
    width: 46%;
    height: 70%;
    /* background-image: url(https://images.unsplash.com/photo-1763539818234-8d02eb6252b3?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 30% 30%; */
}
#page2-part2 img {
    width: 100%; /* Make the image fill the container's width */
    height: 100%; /* Make the image fill the container's height */
    
    /* These three lines mimic the effect of background-size: cover and background-position */
    object-fit: cover; 
    object-position: 30% 30%; 
    display: block; /* Important to remove any extra spacing below the image */
}
#page2-part1 h2{
margin-top: 2vh;
font-size: 5vh;
font-weight: 500;
font-family: Impact, Haettenschweiler, 'Arial Black', sans-serif;
letter-spacing: 2px;
}
#para{
   /* background-color: red; */
   display: flex;
   justify-content: space-between;
    margin-top: 2.9vh;
}
#para h3{
    font-size: 2.8vh;
    font-weight: 320;
    
}
#para p{
    font-size: 1.8vh;
    font-weight: 200;
}
#page3{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5vw 5vw;
}
#page3-part1{
    height: 80vh;
    width: 64vh;
}
#page3-part1 img{
    object-fit: cover;
    height: 25vh;
    width: 50%;
    margin-top: 23%;
    margin-left: 20%;
    background-color: white;
}
#page3-part2{
    height: 80%;
    width: 46%;
}
#page3-part2 img{
    object-fit: cover;
   height: 90%;
    width: 100%;
    display: block;
  
}
#page3-part1 p{
    margin-left: 20%;
    margin-top: 12vh;
    font-size: 3vh;
}
#page4{
    height: 80vh;
    width: 90%;
    margin-left: 5%;
    padding-left:5vw ;
    padding-right: 5vw;

}
#page4 img{
    height: 100%;
    width: 100%;
}
#page5{
    height: 100%;
    width: 100%;
    padding: 12vh;
    position: relative;

}
#page5>h1{
text-align: center;
text-transform: uppercase;
font-size: 5vh;
font-family: monument;
font-weight: 800;
margin-bottom: 7vh;
}
.elem{
    height: 15vh;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page5 .elem:last-child {
    border-bottom: 2px solid black;
}
.elem h4{
    width: 6%;
    font-weight: 500;
    text-transform: uppercase;
}
.elem .elem-part-2 {
    width: 46%;

}
.elem-part-2 h1{
    font-size: 3.5vh;
    font-weight: 600;
}
.elem-part-2 h5{
    font-size: 1.2vh;
    font-weight: 600;
    text-transform: uppercase;
}

#footer {

    height: 50vh; 
    width: 100%;
    background-color: #111111ee; 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vw 5vw 2vw 5vw; 
}

#footer-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70%;
}

#footer-brand {
    width: 30%;
}

#footer-brand h1 {
    font-family: monument; 
    font-size: 3vw;
    letter-spacing: -1px;
    color: white;
}

#footer-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.link-col {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.link-col h3 {
    font-size: 1.2vw;
    font-weight: 600;
    margin-bottom: 1vh;
    color: #fff;
}

.link-col a {
    text-decoration: none;
    color: #999; 
    font-size: 1vw;
    font-weight: 400;
    transition: color 0.3s ease;
}

.link-col a:hover {
    color: #fff; 
}


#footer-bottom {
    width: 100%;
    border-top: 1px solid #333; 
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#copyright p {
    font-size: 0.9vw;
    color: #999;
}

#legal {
    display: flex;
    gap: 2vw;
}

#legal a {
    text-decoration: none;
    font-size: 0.9vw;
    color: #999;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    #footer {
        height: auto;
        padding: 5vh 5vw;
    }
    #footer-top {
        flex-direction: column;
        gap: 5vh;
    }
    #footer-links {
        width: 100%;
        justify-content: space-between;
    }
    #footer-brand h1 {
        font-size: 8vw;
    }
    .link-col h3 {
        font-size: 4vw;
    }
    .link-col a {
        font-size: 3.5vw;
    }
    #footer-bottom {
        flex-direction: column;
        gap: 2vh;
        align-items: flex-start;
    }
    #copyright p, #legal a {
        font-size: 3vw;
    }
}